<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <div class="wrapper">
        <div class="title-text">
          <div class="title">Signup Form</div>
        </div>
        <div class="form-container">
            <div class="form-inner">
    

                <form action="{% url 'signup' %}" class="signup" method="post">

                    {% csrf_token %}

                    <div class="field">
                    <input type="text" placeholder="Username" name='username' required>
                    </div>
                    <div class="field">
                    <input type="text" placeholder="Email Address" name='email' required>
                    </div>
                    <div class="field">
                    <input type="password" placeholder="Password" name='pass1' required>
                    </div>
                    <div class="field">
                    <input type="password" placeholder="Confirm password" name='pass2' required>
                    </div>
                    <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Signup">
                    </div>
                    <div class="signup-link">Already a member <a href="{% url 'login' %}">Login</a></div>
                </form>
            </div>

        </div>
    </div>


</body>
</html>